<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Barato Peças</ion-title>
  </ion-navbar>
</ion-header>

<ion-spinner name="circles" *ngIf="users == 0">
</ion-spinner>

  <ion-content>
    <form [formGroup]="busca" (ngSubmit)="buscar()">
      <ion-item>
        <ion-label color="ligh-grey" floating><ion-icon item-left name="search"></ion-icon>Busca</ion-label>
        <ion-input type="text" name="texto" formControlName="texto"></ion-input>
      </ion-item>
      <!--ion-item>
        <button item-right [disabled]="busca.invalid" ion-button color="secondary" block><ion-icon name="search"></ion-icon></button>
      </ion-item-->
    </form>
    <p style="color:#999;">Principais Montadoras</p>
    <ion-scroll class="story" scrollX="true">
      <div class="story_scroll" *ngFor="let user of users" (click)="openPage($event, user)">
        <div class="story_img_bg">
        <img no-margin no-padding class="story_img" src="http://www.kenio.top/api_baratopecas/montadoras/{{user.imagem}}"></div>
        <p no-margin no-padding text-center class="story_text">{{user.titulo}}</p>
      </div>
    </ion-scroll>
    
    <p style="color:#999;">Principais Categorias</p>
    
    <div style="background-color:#f8f8f8;">

      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let categoria of categorias" (click)="openCategoria($event, categoria)">
            <ion-card>
              <ion-card-content>
                <img src="http://www.kenio.top/api_baratopecas/categorias/{{categoria.imagem}}">
                <p class="story_text" align="center">{{categoria.titulo}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          </ion-row>
      </ion-grid>
      
    </div>
    
  </ion-content>

  

  

