<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title><img src="../assets/imgs/icone_pequeno.png"> <span style="font-size:12px; color:#f8f8f8;">v 1.0</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>